apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: inception
  namespace: argocd
spec:
  project: default
  source:
    repoURL: http://github.local/root/inception.git
    targetRevision: HEAD
    path: manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
