global:
  hosts:
    domain: gitlab.local
    externalIP: 127.0.0.1
  
  ingress:
    enabled: false
    configureCertmanager: false

  certmanager:
    enabled: false

certmanager:
  enabled: false

nginx-ingress:
  enabled: false

prometheus:
  install: false

gitlab-runner:
  install: false

gitlab:
  gitlab-pages:
    enabled: false
  gitlab-registry:
    enabled: false
  kas:
    enabled: false

registry:
  enabled: false